html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body{font-size:0;}
div{font-size:0;}
p{margin:0;word-spacing:normal;}
h1{margin:0;word-spacing:normal;}
h2{margin:0;word-spacing:normal;}
h3{margin:0;word-spacing:normal;}
h4{margin:0;word-spacing:normal;}
h5{margin:0;word-spacing:normal;}
h6{margin:0;word-spacing:normal;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
form{display:inline-block;}
input{box-sizing:border-box;padding:0px;}
textarea{box-sizing:border-box;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:0;}
.section{min-width:1200px;width:1200px;margin-left:auto;margin-right:auto;display:block;}
.vis{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:1200px;width:1200px;min-height:60px;}
.cont{z-index:1;border:0;background-color:rgb(255,255,255);}
.pos-3{position:relative;margin-left:17px;margin-top:8px;}
.size-2{min-width:1169px;width:1169px;min-height:45px;}
.pos-4{position:relative;margin-left:0;margin-top:6px;}
.size-3{min-width:43px;width:43px;min-height:39px;height:39px;}
.cont-3{z-index:4;}
.img{position:absolute;left:0;width:42px;height:39px;top:0;border:0;}
.img-2{left:0;width:42px;height:39px;top:0;}
.pos-5{position:relative;margin-left:8px;margin-top:0;}
.size-4{min-width:328px;width:328px;min-height:38px;}
.cont-4{z-index:5;}
.para{padding-top:0;text-indent:0;margin-top:0.83pt;margin-bottom:-0.83pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font{font-family:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;font-size:14.25pt;font-weight:700;font-style:normal;text-decoration:none;color:rgba(72,72,72,0.825039);line-height:18.20pt;letter-spacing:normal;}
.pos-6{position:relative;margin-left:657px;margin-top:3px;}
.size-5{min-width:133px;width:133px;min-height:38px;}
.cont-5{z-index:6;}
.para-2{padding-top:0;text-indent:0;margin-top:2.47pt;margin-bottom:-2.47pt;padding-right:0;text-align:right;word-wrap:break-word;}
.font-2{font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;font-size:10.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(72,72,72,0.825039);line-height:17.31pt;letter-spacing:2.40px;}
.pos-7{position:relative;margin-left:67px;margin-top:-21px;}
.size-6{min-width:328px;width:328px;min-height:38px;}
.cont-6{z-index:7;}
.para-3{padding-top:0;text-indent:0;margin-top:-0.39pt;margin-bottom:0.39pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-3{font-family:Arial, Helvetica, sans-serif;font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(72,72,72,0.825039);line-height:13.80pt;letter-spacing:normal;}
.pos-8{position:relative;margin-top:-17px;}
.size-7{width:100%;min-width:1200px;min-height:520px;}
.cont-7{z-index:2;border:0;background:rgb(184,200,210) url(../images/unknown-320.jpg) no-repeat 50% 50%;background-size:cover;background-clip:padding-box;}
.pos-9{position:relative;margin-top:100px;}
.pos-10{position:relative;margin-left:12px;margin-top:0;}
.size-8{min-width:600px;width:600px;min-height:79px;}
.cont-8{z-index:8;}
.para-4{padding-top:0;text-indent:0;margin-top:4.59pt;margin-bottom:-4.59pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-4{font-family:Arial, Helvetica, sans-serif;font-size:23.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:37.43pt;letter-spacing:11.41px;}
.pos-11{position:relative;margin-left:-600px;margin-top:113px;}
.size-9{min-width:220px;width:220px;min-height:44px;}
.cont-9{z-index:9;}
.vis-2{display:inline-block;overflow:hidden;outline:0;}
.size-10{width:220px;height:34px;}
.font-5{font-family:Arial, Helvetica, sans-serif;font-size:15.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(255,255,255,0.570059);line-height:17.25pt;letter-spacing:normal;text-indent:0;padding-right:0;text-align:center;word-wrap:break-word;padding-top:10px;margin-top:0;margin-bottom:0;}
.button{border:0;border-radius:8px;background-color:rgba(0,0,0,0.26291);}
.button:hover{background-color:rgba(72,72,72,0.825039);border-color:rgba(255,255,255,0.570059);color:rgb(255,255,255);}
.button:active{background-color:rgb(39,46,49);border-color:rgba(255,255,255,0.570059);color:rgb(255,255,255);}
.pos-13{position:relative;margin-top:-307px;}
.pos-14{position:relative;margin-left:4px;margin-top:0;}
.size-11{min-width:1178px;width:1178px;min-height:732px;}
.pos-15{position:relative;margin-left:0;margin-top:354px;}
.size-12{min-width:116px;width:116px;min-height:233px;}
.colwrapper{line-height:0;}
.pos-16{position:relative;margin-left:28px;margin-top:0;}
.size-13{min-width:60px;width:60px;min-height:60px;height:60px;}
.img-3{position:absolute;left:0;width:60px;height:60px;top:0;border:0;}
.img-4{left:0;width:60px;height:60px;top:0;}
.pos-17{position:relative;margin-left:0;margin-top:13px;}
.size-14{min-width:116px;width:116px;min-height:32px;}
.cont-10{z-index:21;}
.para-5{padding-top:0;text-indent:0;margin-top:-0.44pt;margin-bottom:0.44pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-6{font-family:Arial, Helvetica, sans-serif;font-size:13.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgba(72,72,72,0.825039);line-height:15.52pt;letter-spacing:normal;}
.pos-18{position:relative;margin-left:28px;margin-top:17px;}
.pos-19{position:relative;margin-left:0;margin-top:19px;}
.size-15{min-width:116px;width:116px;min-height:32px;}
.cont-11{z-index:22;}
.pos-20{position:relative;margin-left:44px;margin-top:354px;}
.size-16{min-width:116px;width:116px;min-height:233px;}
.pos-21{position:relative;margin-left:28px;margin-top:0;}
.pos-22{position:relative;margin-left:0;margin-top:13px;}
.size-17{min-width:116px;width:116px;min-height:32px;}
.cont-12{z-index:24;}
.pos-23{position:relative;margin-left:28px;margin-top:17px;}
.pos-24{position:relative;margin-left:0;margin-top:19px;}
.size-18{min-width:116px;width:116px;min-height:32px;}
.cont-13{z-index:23;}
.pos-25{position:relative;margin-left:44px;margin-top:354px;}
.size-19{min-width:116px;width:116px;min-height:233px;}
.pos-26{position:relative;margin-left:28px;margin-top:0;}
.pos-27{position:relative;margin-left:0;margin-top:13px;}
.size-20{min-width:116px;width:116px;min-height:32px;}
.cont-14{z-index:25;}
.pos-28{position:relative;margin-left:28px;margin-top:17px;}
.pos-29{position:relative;margin-left:0;margin-top:19px;}
.size-21{min-width:116px;width:116px;min-height:32px;}
.cont-15{z-index:26;}
.pos-30{position:relative;margin-left:49px;margin-top:354px;}
.size-22{min-width:116px;width:116px;min-height:233px;}
.pos-31{position:relative;margin-left:23px;margin-top:0;}
.pos-32{position:relative;margin-left:0;margin-top:13px;}
.size-23{min-width:116px;width:116px;min-height:32px;}
.cont-16{z-index:28;}
.pos-33{position:relative;margin-left:23px;margin-top:17px;}
.pos-34{position:relative;margin-left:0;margin-top:19px;}
.cont-17{z-index:27;}
.pos-35{position:relative;margin-left:39px;margin-top:354px;}
.pos-36{position:relative;margin-left:28px;margin-top:0;}
.cont-18{z-index:29;}
.pos-37{position:relative;margin-left:28px;margin-top:17px;}
.cont-19{z-index:30;}
.pos-38{position:relative;margin-left:27px;margin-top:0;}
.size-24{min-width:395px;width:395px;min-height:732px;height:732px;}
.cont-20{z-index:10;}
.img-5{position:absolute;left:0;width:393px;height:732px;top:0;border:0;}
.img-6{left:0;width:393px;height:732px;top:0;}
.pos-39{position:relative;margin-top:-97px;}
.size-25{width:100%;min-width:1200px;min-height:812px;}
.cont-21{z-index:3;border:0;background-color:rgb(39,46,49);}
.pos-40{position:relative;margin-top:57px;}
.pos-41{position:relative;margin-left:437px;margin-top:0;}
.size-26{min-width:336px;width:336px;min-height:40px;}
.cont-22{z-index:31;}
.para-6{padding-top:0;text-indent:0;margin-top:-0.69pt;margin-bottom:0.69pt;padding-right:0;text-align:center;word-wrap:break-word;}
.font-7{font-family:Arial, Helvetica, sans-serif;font-size:21.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(103,122,133);line-height:24.15pt;letter-spacing:normal;}
.font-8{font-family:"PingFang HK", sans-serif;font-size:21.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(103,122,133);line-height:29.40pt;letter-spacing:normal;}
.pos-42{position:relative;margin-left:12px;margin-top:105px;}
.size-27{min-width:1188px;width:1188px;min-height:519px;}
.size-28{min-width:292px;width:292px;min-height:519px;}
.cont-23{z-index:32;}
.video{width:292px;height:519px;}
.pos-43{position:relative;margin-left:150px;margin-top:0;}
.cont-24{z-index:34;}
.pos-44{position:relative;margin-left:162px;margin-top:0;}
.cont-25{z-index:33;}
.pos-45{position:relative;margin-top:78px;}
.pos-46{position:relative;margin-left:432px;margin-top:0;}
.font-9{font-family:Arial, Helvetica, sans-serif;font-size:21.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(39,46,49);line-height:24.15pt;letter-spacing:normal;}
.pos-47{position:relative;margin-left:0;margin-top:83px;}
.size-29{min-width:1200px;width:1200px;min-height:360px;}
.size-30{min-width:200px;width:200px;min-height:360px;height:360px;}
.img-7{position:absolute;left:0;width:200px;height:355px;top:2px;border:0;}
.img-8{left:0;width:200px;height:355px;top:2px;}
.pos-48{position:relative;margin-left:50px;margin-top:0;}
.pos-49{position:relative;margin-left:50px;margin-top:0;}
.pos-50{position:relative;margin-left:50px;margin-top:0;}
.pos-51{position:relative;margin-left:50px;margin-top:0;}
.pos-52{position:relative;margin-left:0;margin-top:76px;}
.size-31{min-width:1200px;width:1200px;min-height:360px;}
.pos-53{position:relative;margin-left:0;margin-top:0;}
.pos-54{position:relative;margin-left:50px;margin-top:0;}
.pos-55{position:relative;margin-left:50px;margin-top:0;}
.pos-56{position:relative;margin-left:50px;margin-top:0;}
.pos-57{position:relative;margin-top:89px;}
.size-32{width:100%;min-width:1200px;min-height:201px;}
.cont-26{z-index:46;border:0;background-color:rgb(241,245,247);}
.pos-58{position:relative;margin-top:21px;}
.pos-59{position:relative;margin-left:17px;margin-top:0;}
.size-33{min-width:1139px;width:1139px;min-height:161px;}
.pos-60{position:relative;margin-left:0;margin-top:7px;}
.size-34{min-width:204px;width:204px;min-height:81px;height:81px;}
.cont-27{z-index:47;}
.img-9{position:absolute;left:1px;width:201px;height:81px;top:0;border:0;}
.img-10{left:1px;width:201px;height:81px;top:0;}
.pos-61{position:relative;margin-left:62px;margin-top:14px;}
.size-35{min-width:71px;width:71px;min-height:66px;height:66px;}
.cont-28{z-index:48;}
.img-11{position:absolute;left:0;width:71px;height:64px;top:1px;border:0;}
.img-12{left:0;width:71px;height:64px;top:1px;}
.pos-62{position:relative;margin-left:378px;margin-top:0;}
.size-36{min-width:424px;width:424px;min-height:161px;}
.cont-29{z-index:49;}
.para-7{padding-top:0;text-indent:0;margin-top:2.07pt;margin-bottom:-2.07pt;padding-right:0;text-align:left;word-wrap:break-word;}
.font-10{font-family:Arial, Helvetica, sans-serif;font-size:10.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(103,122,133);line-height:16.90pt;letter-spacing:normal;}
@media (max-width:1199px) {
.section{min-width:320px;width:320px;}
.size{min-width:320px;width:320px;min-height:48px;}
.pos-3{margin-left:9px;margin-top:0;}
.size-2{min-width:288px;width:288px;min-height:37px;}
.pos-4{margin-top:10px;}
.size-3{min-width:30px;width:30px;min-height:27px;height:27px;}
.img{width:29px;height:27px;}
.img-2{width:29px;height:27px;}
.pos-5{margin-left:11px;}
.size-4{min-width:63px;width:63px;min-height:24px;}
.para{margin-top:0.61pt;margin-bottom:-0.61pt;}
.font{font-size:10.50pt;line-height:13.41pt;}
.pos-6{margin-left:110px;margin-top:13px;}
.size-5{min-width:74px;width:74px;min-height:21px;}
.para-2{margin-top:2.12pt;margin-bottom:-2.12pt;}
.font-2{font-size:9.00pt;line-height:14.84pt;letter-spacing:normal;}
.pos-7{margin-left:50px;margin-top:-25px;}
.size-6{min-width:155px;width:155px;min-height:18px;}
.para-3{margin-top:-0.27pt;margin-bottom:0.27pt;}
.font-3{font-size:8.25pt;line-height:9.49pt;}
.pos-8{margin-top:0;}
.size-7{min-width:320px;min-height:176px;}
.pos-9{margin-top:11px;}
.pos-10{margin-left:36px;}
.size-8{min-width:249px;width:249px;min-height:45px;}
.para-4{margin-top:2.81pt;margin-bottom:-2.81pt;}
.font-4{font-size:14.25pt;line-height:22.94pt;letter-spacing:5.70px;}
.pos-11{margin-left:83px;margin-top:11px;}
.size-9{min-width:154px;width:154px;min-height:28px;}
.size-10{width:154px;height:21px;}
.font-5{font-size:9.00pt;line-height:10.35pt;padding-top:7px;}
.pos-13{margin-top:-68px;}
.pos-14{margin-left:13px;}
.size-11{min-width:295px;width:295px;min-height:409px;}
.pos-15{margin-left:4px;margin-top:77px;}
.size-12{min-width:287px;width:287px;min-height:39px;}
.pos-16{margin-left:6px;}
.size-13{min-width:24px;width:24px;min-height:24px;height:24px;}
.img-3{width:24px;height:24px;}
.img-4{width:24px;height:24px;}
.pos-17{margin-left:-30px;margin-top:27px;}
.size-14{min-width:36px;width:36px;min-height:12px;}
.para-5{margin-top:-0.20pt;margin-bottom:0.20pt;}
.font-6{font-size:6.00pt;line-height:6.90pt;}
.pos-18{margin-left:218px;margin-top:0;}
.pos-19{margin-left:246px;margin-top:-12px;}
.size-15{min-width:41px;width:41px;min-height:12px;}
.pos-20{margin-left:0;margin-top:9px;}
.size-16{min-width:290px;width:290px;min-height:39px;}
.pos-21{margin-left:10px;}
.pos-22{margin-left:-34px;margin-top:27px;}
.size-17{min-width:44px;width:44px;min-height:12px;}
.pos-23{margin-left:214px;margin-top:0;}
.pos-24{margin-left:251px;margin-top:-12px;}
.size-18{min-width:39px;width:39px;min-height:12px;}
.pos-25{margin-left:7px;margin-top:8px;}
.size-19{min-width:288px;width:288px;min-height:39px;}
.pos-26{margin-left:3px;}
.pos-27{margin-left:-27px;margin-top:27px;}
.size-20{min-width:31px;width:31px;min-height:12px;}
.pos-28{margin-left:220px;margin-top:0;}
.pos-29{margin-left:239px;margin-top:-12px;}
.size-21{min-width:49px;width:49px;min-height:12px;}
.pos-30{margin-left:2px;margin-top:9px;}
.size-22{min-width:289px;width:289px;min-height:39px;}
.pos-31{margin-left:8px;}
.pos-32{margin-left:-32px;margin-top:27px;}
.size-23{min-width:40px;width:40px;min-height:12px;}
.pos-33{margin-left:216px;margin-top:0;}
.pos-34{margin-left:248px;margin-top:-12px;}
.pos-35{margin-left:2px;margin-top:8px;}
.pos-36{margin-left:8px;}
.pos-37{margin-left:216px;margin-top:0;}
.pos-38{margin-left:37px;margin-top:-306px;}
.size-24{min-width:220px;width:220px;min-height:409px;height:409px;}
.img-5{width:219px;height:409px;}
.img-6{width:219px;height:409px;}
.pos-39{margin-top:-50px;}
.size-25{min-width:320px;min-height:1827px;}
.pos-40{margin-top:50px;}
.pos-41{margin-left:77px;}
.size-26{min-width:169px;width:169px;min-height:36px;}
.para-6{margin-top:-0.29pt;margin-bottom:0.29pt;}
.font-7{font-size:9.00pt;line-height:10.35pt;}
.font-8{font-family:Arial, Helvetica, sans-serif;font-size:9.00pt;line-height:10.35pt;}
.pos-42{margin-left:11px;margin-top:31px;}
.size-27{min-width:297px;width:297px;min-height:1632px;}
.pos-43{margin-left:5px;margin-top:32px;}
.pos-44{margin-left:4px;margin-top:43px;}
.pos-45{margin-top:11px;}
.pos-46{margin-left:72px;}
.font-9{font-size:9.00pt;color:rgb(90,114,128);line-height:10.35pt;}
.pos-47{margin-left:21px;margin-top:19px;}
.size-29{min-width:280px;width:280px;min-height:704px;}
.size-30{min-width:120px;width:120px;min-height:220px;height:220px;}
.img-7{width:120px;height:213px;top:3px;}
.img-8{width:120px;height:213px;top:3px;}
.pos-48{margin-left:40px;}
.pos-49{margin-left:0;margin-top:19px;}
.pos-50{margin-left:40px;margin-top:19px;}
.pos-51{margin-left:0;margin-top:25px;}
.pos-52{margin-left:21px;margin-top:-220px;}
.size-31{min-width:280px;width:280px;min-height:715px;}
.pos-53{margin-left:160px;}
.pos-54{margin-left:0;margin-top:30px;}
.pos-55{margin-left:40px;margin-top:30px;}
.pos-56{margin-left:40px;margin-top:25px;}
.pos-57{margin-top:34px;}
.size-32{min-width:320px;min-height:114px;}
.pos-58{margin-top:13px;}
.pos-59{margin-left:12px;}
.size-33{min-width:284px;width:284px;min-height:94px;}
.pos-60{margin-top:0;}
.size-34{min-width:86px;width:86px;min-height:35px;height:35px;}
.img-9{left:0;width:86px;height:34px;}
.img-10{left:0;width:86px;height:34px;}
.pos-61{margin-left:-69px;margin-top:50px;}
.size-35{min-width:46px;width:46px;min-height:44px;height:44px;}
.img-11{width:46px;height:42px;}
.img-12{width:46px;height:42px;}
.pos-62{margin-left:38px;margin-top:10px;}
.size-36{min-width:183px;width:183px;min-height:68px;}
.para-7{margin-top:1.18pt;margin-bottom:-1.18pt;}
.font-10{font-size:6.00pt;line-height:9.66pt;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.cont-7{background-image:url(../images/unknown-640.jpg);background-size:cover;}
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
.cont-7{background-image:url(../images/unknown-960.jpg);background-size:cover;}
}
@media (min-width:480px) {
.cont-7{background-image:url(../images/unknown-480.jpg);background-size:cover;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.cont-7{background-image:url(../images/unknown-960-1.jpg);background-size:cover;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:3),(min-width:480px) and (min-resolution:288dpi) {
.cont-7{background-image:url(../images/unknown-1440.jpg);background-size:cover;}
}
@media (min-width:768px) {
.cont-7{background-image:url(../images/unknown-768.jpg);background-size:cover;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:2),(min-width:768px) and (min-resolution:192dpi) {
.cont-7{background-image:url(../images/unknown-1536.jpg);background-size:cover;}
}
@media (min-width:768px) and (-webkit-min-device-pixel-ratio:3),(min-width:768px) and (min-resolution:288dpi) {
.cont-7{background-image:url(../images/unknown-2304.jpg);background-size:cover;}
}
@media (min-width:960px) {
.cont-7{background-image:url(../images/unknown-960-3.jpg);background-size:cover;}
}
@media (min-width:960px) and (-webkit-min-device-pixel-ratio:2),(min-width:960px) and (min-resolution:192dpi) {
.cont-7{background-image:url(../images/unknown-1920-1.jpg);background-size:cover;}
}
@media (min-width:1200px) {
.cont-7{background-image:url(../images/unknown-1200.jpg);background-size:cover;}
}
@media (min-width:1200px) and (-webkit-min-device-pixel-ratio:2),(min-width:1200px) and (min-resolution:192dpi) {
.cont-7{background-image:url(../images/unknown-2400.jpg);background-size:cover;}
}
@media (min-width:1600px) {
.cont-7{background-image:url(../images/unknown-1600.jpg);background-size:cover;}
}
